
@{
    ViewBag.Title = "ResetPasswordFailedConfirmation";
}

<h2>Reset Password Failed </h2>

<div>
    <p>
        your password doesn't reset. @Html.ActionLink(" Try again", "ForgotPassword", null, new { @class = "text-decoration-none text-secondary" })
    </p>
</div>
