@model IpWebApp.Models.Location

<div class="row">
    <div class="col-4">
        <meta name="viewport" content="width=device-width" />
        <title>Location</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOml-y8NAJP9BJXZTp_GC_KQtonI0YVZg&callback=initMap"></script> 
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <script src="~/scripts/jquery-3.3.1.min.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
        <script src="~/scripts/jquery.validate.min.js"></script>
        <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
        <script type="text/javascript">

            @if (Model==null)
            {
                var latitude = 1.1;
                var longitude = 1.1;
            } else {
                var latitude = @Html.Raw(Model.Latitude);

                var longitude = @Html.Raw(Model.Longitude);
            }
            window.onload = function() {
                var mapOptions = {
                    center: new google.maps.LatLng(latitude, long),
                    zoom: 4,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var infoWindow = new google.maps.InfoWindow();
                var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
                var myLatlng = new google.maps.LatLng(latitude, long);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,


                });

            }

        </script>
        @{string country;
            if (Model == null)
            {
                country = "No country";

            }
            else
            {
                country = Model.PriorityCountry;
            }
        }
        <h3>Client Location Info:</h3> <br /> Country Name: @country <br />
        <div id="dvMap" class="card" style="width: 300%; height: 400px">
        </div>
    </div>
</div>