
<link rel="stylesheet" href="~/Content/edit-create-pages.css">
<link rel="stylesheet" href="~/Content/details-page.css">
<link rel="stylesheet" href="~/Content/style.css">
<main class="container" style="position: center">
    <h2>You Do Not Have Permission For That</h2>
    <table>
        <tr>
            <td>
                <img src="~/Images/sorry.jpg" height="500" width="500"/>
            </td>
        </tr>
    </table>


</main>


