
@{
    ViewBag.Title = "supportUs";
}
<link rel="stylesheet" href="~/Content/edit-create-pages.css">
<link rel="stylesheet" href="~/Content/details-page.css">
<link rel="stylesheet" href="~/Content/style.css">
<main class="container">
    <h2>Support Us</h2>
    <table>
        <tr>
            <td>
                <canvas id="myCanvas" width="500" height="100" >
                </canvas>
            </td>
        </tr>
        <tr>
            <td>
                <video width="500" height="300" controls>
                    <source src="~/Images/video/The Thank You Song.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </td>
        </tr>
    </table>
    
</main>


<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.font = "35px Arial";
ctx.strokeText("Thank you for the support! :)", 10, 50);
</script>