
@{
    ViewBag.Title = "supportUs";
}
<link rel="stylesheet" href="~/Content/edit-create-pages.css">
<link rel="stylesheet" href="~/Content/details-page.css">
<link rel="stylesheet" href="~/Content/style.css">
<main class="container">
    <h2>Support Us</h2>
    <table>
        <tr>
            <td>
                <canvas id="myCanvas" width="500" height="100">
                </canvas>
            </td>
        </tr>
        <tr>
            <td>
                <video width="500" height="300" controls>
                    <source src="~/Images/video/The Thank You Song.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </td>
        </tr>
        <tr>
            <td>
                @using (Html.BeginForm("supportUs", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-control">
                        <label class="label-primary">     Enter Your Tweet it will post in our tweeter page with your email!  </label>
                        <input type="text" id="message" name="message" size="100px"/>
     
                <input  class="btn-submit" type="submit" value="Submit" />
                </div>
                }
            </td>

        </tr>
    </table>


</main>


<script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.font = "35px Arial";
    ctx.strokeText("Thank you for the support! :)", 10, 50);
</script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
                $('#blah').attr('style', "normal");
                $('#path').val = e.target.result;
          
                console.log(e.target.result);

            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }

    }

    $("#image").change(function () {
        readURL(this);
    });
</script>